<body>

    <div class="container-fluid" style="align-content: center;">

        <div class="card">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <a [routerLink]="['/games']">
                        <img src="" alt="" srcset="">
                        Juegos
                    </a>
                </li>
                <li class="list-group-item">
                    <a [routerLink]="['/lists']">
                        <img src="" alt="" srcset="">
                        Listado de puntos
                    </a>
                </li>
                <li class="list-group-item">
                    <a [routerLink]="['/whoAmI']" routerLinkActive="router-link-active">
                        <img src="" alt="" srcset="">
                        Quién soy?
                    </a>
                </li>
            </ul>
        </div>
    </div>
</body>